!!!
%html.h-100
  %head
    %title Rémy
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body.h-100
    %nav.navbar.navbar-dark.bg-dark.navbar-expand
      %a.navbar-brand{href: '/'}
        %i.fas.fa-blender-phone

      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to 'Administration', admin_recipes_url, class: 'nav-link'

    = yield
